<div class="header">
    <div class="header__section">
        <ul class="header__list">
            <li [routerLink]="['/']" class="header__logo">BITTEAM</li>
            <li>Crear item</li>
            <li [routerLink]="['/','show-case']">Ver todos</li>
            <li (click)="addItem()">Add item</li>
        </ul>
    </div>
    <div class="header__section">
        <ul class="header__list">
            <li><i class="uil uil-card-atm"></i></li>
            <li><i class="uil uil-bell"></i></li>
            <li><i class="uil uil-user"></i></li>
        </ul>
    </div>
</div>