<div class="ui-item">
    <div class="ui-image" [style.backgroundImage]="'url('+item?.image+')'"></div>
    <div class="ui-block-text">
        <h3>{{item?.name}}</h3>
        <div class="ui-more-info">
            <div class="ui-small-section">
                <span>{{item?.price}} ETH</span>
                <span><i class="uil uil-eye"></i></span>
            </div>
            <div class="ui-small-section">
                <div class="ui-small-section">
                    <img class="ui-author" src="https://avatars.githubusercontent.com/u/15802366?v=4" alt="">
                    <span>Leifer</span>
                </div>
                <span><i class="uil uil-star"></i></span>
            </div>
        </div>
    </div>
</div>